# regex #1:
\\
\\a
a\\
a\\a

\\\\
\\\\a
a\\\\
a\\\\a

# regex #2:
\\$
\\$1
a\\$
a\\$1

\\\\$
\\\\$1
a\\\\$
a\\\\$1

# regex #3:
\\${
\\${1
a\\${
a\\${1

\\\\${
\\\\${1
a\\\\${
a\\\\${1

# regex #4
\\${a
\\${a-
a\\${a
a\\${a-

\\\\${a
\\\\${a-
a\\\\${a
a\\\\${a-

# references.
\$a
a\$a
\${a}
a\${a}
a\${a}a

\\\$a
a\\\$a
\\\${a}
a\\\${a}
a\\\${a}a

# backslashes.
\\$a
a\\$a
\\${a}
a\\${a}
a\\${a}a

\\\\$a
a\\\\$a
\\\\${a}
a\\\\${a}
a\\\\${a}a
