# Escaped.
\$a1
b\$a2
\${a3}
b\${a4}
\${a5}b
b\${a6}b
\\\$a7
b\\\$a8
\\\${a9}
b\\\${a10}
\\\${a11}b
b\\\${a12}b

# Not escaped.
$a13
b$a14
${a15}
b${a16}
${a17}b
b${a18}b
\\$a19
b\\$a20
\\${a21}
b\\${a22}
\\${a23}b
b\\${a24}b
\\\\$a25
b\\\\$a26
\\\\${a27}
b\\\\${a28}
\\\\${a29}b
b\\\\${a30}b
